@use "../abstracts/colors";
@use "../abstracts/variables" as vars;
@use "../abstracts/breakpoints" as *;

.cards-column {
  max-width: vars.$container-max-width;
  border-radius: 0.5rem;
  display: flex;
  overflow: hidden;

  @include breakpoint("mobile", "max") {
    flex-direction: column;
  }
}

.card {
  padding: 3.1rem;

  &-icon {
    width: 4rem;
    height: 2.5rem;
    margin-bottom: 1.2rem;
  }

  &-title {
    font-family: vars.$font-family-cursive;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
  }

  &-desc {
    color: colors.$transparent-white;
    margin-bottom: 5.3rem;
  }

  @include breakpoint("mobile", "max") {
    &-desc {
      margin-bottom: 2rem;
    }
  }
}
