@use "../abstracts/colors";

.bg-bright-orange {
  background-color: colors.$bright-orange;
}

.bg-dark-cyan {
  background-color: colors.$dark-cyan;
}

.bg-very-dark-cyan {
  background-color: colors.$very-dark-cyan;
}
