// font families
$font-family-sans-serif: "Lexend Deca", sans-serif !default;
$font-family-cursive: "Big Shoulders Display", cursive !default;

// font sizes
$font-size-root: null !default;
$font-size-base: 0.9375rem !default;

// font weights
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;

// line heights
$line-height-base: 1.6 !default;

// others
$container-max-width: 1000px !default;
